<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Knockout this</title>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.1"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
  .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
      opacity: 0
      }
  </style>
<body>
  <div id="app">

    <ul>
      <li v-for="product in products">
        <span v-on:click="show = !show">{{ product.name }}</span>
        <ul v-if="show">
          <li v-for="model in product.modelSpecification">
            {{ model.model }}
            <ul>
              <li>{{ model.price }} $</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
