<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop</title>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.1"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
  <div id="app">

    <!-- <ul>
      <li v-for="product in products">
        {{ product.name }}
        <ul>
          <li v-for="model in product.modelSpecification">
            {{ model.model }}
            <ul>
              <li>{{ model.price }} $</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul> -->

    <select v-model="selected2">
      <option disabled value="">Select Brand</option>
      <option v-for="product in products" v-bind:value="product.modelSpecification">
        <span>{{ product.name }}</span>
      </option>
    </select>

    <ul>
      <li v-for="model in selected2">
        {{ model.model }}
        <br>
        {{ model.price }} $
        <button v-on:click="addToCart(model)">Add To Cart</button>
      </li>
    </ul>
      <br>

      <hr>
    <div class="cart">
      <ul>
        <li v-for="item in items">
          {{ item.model }} <strong>{{ item.quantity }}</strong>
        </li>
      </ul>
      <h5>Total: <span>{{ total }} $</span></h5>
    </div>


  </div>
<script type="text/javascript" src="shopApp.js"></script>
</body>
</html>
